<div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <h2>Signup Form</h2><br />
        <form ng-submit="signupValidate()">

            <div class="form-group">
                <label class="control-label col-lg-2" for="UserName">User Name:</label>
                <div>
                    <input ng-model="signupModel.UserName" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="SchoolEmail">School Email:</label>
                <div>
                    <input type="email" ng-model="signupModel.SchoolEmail" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="UserEmail">User Email:</label>
                <div>
                    <input type="email" ng-model="signupModel.UserEmail" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="Password">Password:</label>
                <div>
                    <input type="password" ng-model="signupModel.Password" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-lg-2" for="IsFaculty">IsFaculty:</label>
                <div>
                    <input type="checkbox" id="abc" ng-model="signupModel.IsFaculty" value="True" />
                </div>
            </div>


            <div class="form-group" id="efg" ng-show="signupModel.IsFaculty">
                <label class="control-label col-lg-2" for="FacultyTypeID">FacultyType:</label>
                <div>
                    <select ng-model="signupModel.FacultyTypeID" ng-options="faculty.FacultyTypeID as faculty.TypeName for faculty in StateAndFaculty.FacultyTypeList" name="faculty type">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="Name">School Name:</label>
                <div>
                    <input ng-model="signupModel.Name" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-lg-2" for="AddressLine1">AddressLine1:</label>
                <div>
                    <input ng-model="signupModel.AddressLine1" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-lg-2" for="AddressLine2">AddressLine2:</label>
                <div>
                    <input ng-model="signupModel.AddressLine2" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="City">City:</label>
                <div>
                    <input ng-model="signupModel.City" required>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-lg-2" style="align-items:stretch;" for="DOB">DOB:</label>
                <div>
                    <input type="date"
                           id="test"
                           name="birthdate"
                           ng-model="signupModel.DOB"
                           popup="d MMM yyyy"
                           options="dateOptions"
                           opened="opened"
                           custom-datepicker required />
                </div>
            </div>





            <div class="form-group">
                <label class="control-label col-lg-2" for="State">State:</label>
                <div>
                    <select ng-model="signupModel.StateCode" ng-options="state.StateCode as state.StateName for state in StateAndFaculty.StateList" name="State list">
                        <option value="">Select</option>
                    </select>
                </div>
            </div>




            <div class="form-group">
                <!-- Buttons -->
                <div class="col-lg-offset-2 col-lg-8">
                    <button type="submit" class="btn btn-success" ng->SignUp</button>
                    <a class="btn btn-primary" href="/#/login">login</a>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>